{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <p>{{profil.personaname}}</p>
    <img src="{{profil.avatar}}" alt="">

    {% for game in games %}
        <p>{{game.name}}</p>
    {% endfor %}

{% endblock %}


