/*----------------Marge à 0 !!!!-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

/*Header*/
#logo {
  height: 100px;
  width: 100px;
}

.chat-bubble {
  display: inline-flex;
  padding: 10px;
  border-radius: 15%;
  margin: 5px;
}